{% extends 'base.html.twig' %}

{% block title %}Panier - La Nimes'Alerie{% endblock %}

{% block body %}
  <h1>Mon panier</h1>
  <p>Retrouvez l'ensemble des produits ajoutés au panier</p>
  <hr>
  <table class="table">
  <thead>
    <tr>
      
      <th scope="col">Produit</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {% set total = null %}
  {% for product in cart %}
    <tr>
      <td><img src="/uploads/{{product.product.image}}" alt="{{product.product.name}}">
      {{ product.product.name }}</td>
      <td>x{{ product.quantity }}</td>
      <td>{{ product.product.price }}</td>
      <td>{{ (product.product.price * product.quantity )}}</td>
    </tr>
    {% set total = total + (product.product.price * product.quantity ) %}
    {% endfor %}
    
  </tbody>
</table>
<div class="text-right mb-5">
<b>Nombre de produit : {{ cart | length }}</b><br>
<b>Total du panier : {{ total }} €</b> 
<hr>
<a href="" class="btn btn-primary">Valider mon panier</a>
</div>
{% endblock %}
