{% extends 'base.html.twig' %}

{% block title %}<title>Nos CGV</title>{% endblock %}
{# public/images/logo.png #}


 {% block stylesheets %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"/>
 <link rel="stylesheet" href="{{ asset('css/front.css') }}" type="text/css">

{% endblock %}
    
  
{% block body %}
{% block header %}
    <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            {% block images %}
            <div class="d-inline-block">
                <img src="{{ asset('images/logo.png') }}" alt="logo"/>
            </div>
            {% endblock %}
  <a class="navbar-brand" href="{{ path('home') }}">La Nimes'Alerie</a>
  <button class="navbar-toggler"  data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item" > <a class="nav-link active" href="{{ path('home')}}">Accueil<span class="sr-only">(current)</span></a></li>
      <li class="nav-item" ><a class=" nav-link active" href="{{ path('liste_product')}}">Nos Produits</a></li>
     <li class="nav-item" > <a class="nav-link active " href="/service">Service 3.0</a></li>
     <li class="nav-item"> <a class="nav-link active" href="{{ path('contact')}}">Contact</a></li>
    </ul>
    </div>
    
    <div class="m-4 p-2">
     <a href="{{ path('cart')}}"><img src="{{ asset('images/shopping-cart.png') }}" alt="cart" height='24px'></a>
     </div>
                          {% if app.user %}
                           
                           <a href={{ path('mon_compte') }} class="text-light">Mon compte</a> | <a href="{{ path('app_logout') }}" class="text-light m-3"> Déconnexion</a>
                             
                            {% else %}
                             <a href="{{ path('app_login') }}" class="text-light" >Connexion</a>|<a href="{{ path('app_register') }}" class="text-light m-3">S'inscrire</a>
        
                          {% endif %}

                    
                   
           
        </nav>
    </header>
{% endblock %}



{% block main %}
<h1>{{ title }} | La Nimes'Alerie</h1>

<body>
Animalerie en ligne <br>
Société 205578846846 au capital de  euros<br>
Siège social 6 Rue Animal 30000 Nimes ;<br> 
N° de téléphone  ; Adresse du courrier électronique melissa.mangione@gmail.com;<br>
RCS (ou Répertoire des métiers) de  n° ;<br>
TVA Intra-communautaire n°;<br>
Le responsable de la publication personne physique est Mélissa Mangione;<br>


<h1>Conditions générales de vente des produits vendus sur La Nime'Alerie</h1>

Date de dernière mise à jour 02/07/2021

<h2>Article 1 - Objet</h2>

Les présentes conditions régissent les ventes par la société Animalerie en ligne 6 Rue Animal 30000 Nimes de .

<h2>Article 2 - Prix</h2>

<p>Les prix de nos produits sont indiqués en euros toutes taxes comprises (TVA et autres taxes applicables au jour de la commande), sauf indication contraire et hors frais de traitement et d'expédition.

En cas de commande vers un pays autre que la France métropolitaine vous êtes l'importateur du ou des produits concernés. Des droits de douane ou autres taxes locales ou droits d'importation ou taxes d'état sont susceptibles d'être exigibles. Ces droits et sommes ne relèvent pas du ressort de la société <b>Animalerie en ligne</b>. Ils seront à votre charge et relèvent de votre entière responsabilité, tant en termes de déclarations que de paiements aux autorités et organismes compétents de votre pays. Nous vous conseillons de vous renseigner sur ces aspects auprès de vos autorités locales.

Toutes les commandes quelle que soit leur origine sont payables en euros. 

La société <b>Animalerie en ligne</b> se réserve le droit de modifier ses prix à tout moment, mais le produit sera facturé sur la base du tarif en vigueur au moment de la validation de la commande et sous réserve de disponibilité.

Les produits demeurent la propriété de la société <b>Animalerie en ligne</b> jusqu'au paiement complet du prix. 

Attention : dès que vous prenez possession physiquement des produits commandés, les risques de perte ou d'endommagement des produits vous 
sont transférés.</p>

<h2>Article 3 - Commandes</h2>

<b>Vous pouvez passer commande : </b> 

Sur Internet : <a href="www.LaNimes'Alerie.com">www.LaNimes'Alerie.com</a>

Les informations contractuelles sont présentées en langue française et feront l'objet d'une confirmation au plus tard au moment de la validation de votre commande. 

La société <b>Animalerie en ligne</b> se réserve le droit de ne pas enregistrer un paiement, et de ne pas confirmer une commande pour quelque raison que ce soit, et plus particulièrement en cas de problème d'approvisionnement, ou en cas de difficulté concernant la commande reçue.

<h2>Article 4 - Validation de votre commande</h2>

<p>Toute commande figurant sur le site Internet <a href="www.LaNimes'Alerie.com">www.LaNimes'Alerie.com</a> suppose l'adhésion aux présentes Conditions Générales. Toute confirmation de commande entraîne votre adhésion pleine et entière aux présentes conditions générales de vente, sans exception ni réserve. 

L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction.

Vous déclarez en avoir parfaite connaissance. 

La confirmation de commande vaudra signature et acceptation des opérations effectuées. 

Un récapitulatif des informations de votre commande et des présentes Conditions Générales, 
vous sera communiqué en format PDF via l'adresse e-mail de confirmation de votre commande.</p>

<h2>Article 5 - Paiement</h2>

<p>Le fait de valider votre commande implique pour vous l'obligation de payer le prix indiqué. 

Le règlement de vos achats s'effectue par carte bancaire grâce au système sécurisé .

Le débit de la carte n'est effectué qu'au moment de l'expédition de la commande. En cas de livraisons fractionnées, 
seuls les produits expédiés sont débités.</p>

<h2>Article 6 - Rétractation</h2>

<p>Conformément aux dispositions de l'article L.121-21 du Code de la Consommation, vous disposez d'un délai de rétractation de 14 jours à compter de la réception de vos produits pour exercer votre droit de rétraction sans avoir à justifier de motifs ni à payer de pénalité. 

Les retours sont à effectuer dans leur état d'origine et complets (emballage, accessoires, notice). Dans ce cadre, votre responsabilité est engagée. Tout dommage subi par le produit à cette occasion peut être de nature à faire échec au droit de rétractation.

Les frais de retour sont .

En cas d'exercice du droit de rétractation, la société <b>Animalerie en ligne</b> procédera au remboursement des sommes versées, 
dans un délai de 14 jours suivant la notification de votre demande et via le même moyen de paiement que celui utilisé lors de la commande.</p>

<b>EXCEPTIONS AU DROIT DE RETRACTATION</b> 

<p>Conformément aux dispositions de l'article L.121-21-8 du Code de la Consommation, le droit de rétractation ne s'applique pas à : 

La fourniture de services pleinement exécutés avant la fin du délai de rétractation et dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.
La fourniture de biens ou de services dont le prix dépend de fluctuations sur le marché financier échappant au contrôle du professionnel et susceptibles de se produire pendant le délai de rétractation.
La fourniture de biens confectionnés selon les spécifications du consommateur ou nettement personnalisés.
La fourniture de biens susceptibles de se détériorer ou de se périmer rapidement.
La fourniture de biens qui ont été descellés par le consommateur après la livraison et qui ne peuvent être renvoyés pour des raisons d'hygiène ou de protection de la santé.
La fourniture de biens qui, après avoir été livrés et de par leur nature, sont mélangés de manière indissociable avec d'autres articles ;
La fourniture de boissons alcoolisées dont la livraison est différée au-delà de trente jours et dont la valeur convenue à la conclusion du contrat dépend de fluctuations sur le marché échappant au contrôle du professionnel.
La fourniture d'enregistrements audio ou vidéo ou de logiciels informatiques lorsqu'ils ont été descellés par le consommateur après la livraison.
La fourniture d'un journal, d'un périodique ou d'un magazine, sauf pour les contrats d'abonnement à ces publications.
Les transactions conclues lors d'une enchère publique.
La fourniture d'un contenu numérique non fourni sur un support matériel dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation.
Article 7- Disponibilité

Nos produits sont proposés tant qu'ils sont visibles sur le site <a href="www.LaNimes'Alerie.com">www.LaNimes'Alerie.com</a> et dans la limite des stocks disponibles. Pour les produits non stockés, nos offres sont valables sous réserve de disponibilité chez nos fournisseurs.
En cas d'indisponibilité de produit après passation de votre commande, nous vous en informerons par mail. Votre commande sera automatiquement annulée et aucun débit bancaire ne sera effectué. 

En outre, le site Internet <a href="www.LaNimes'Alerie.com">www.LaNimes'Alerie.com</a> n'a pas vocation à vendre ses produits en quantités importantes. Par conséquent la société <b>Animalerie en ligne</b> se réserve le droit de refuser les commandes de  articles identiques.
</p>
<h2>Article 8 - Livraison</h2>

<p>Les produits sont livrés à l'adresse de livraison indiquée au cours du processus de commande, dans le délai indiqué sur la page de validation de la commande.

En cas de retard d'expédition, un mail vous sera adressé pour vous informer d'une éventuelle conséquence sur le délai de livraison qui vous a été indiqué. 

Conformément aux dispositions légales, en cas de retard de livraison, vous bénéficiez de la possibilité d'annuler la commande dans les conditions et modalités définies à l'article L 138-2 du Code de la Consommation. Si entre temps vous recevez le produit nous procéderons à son remboursement et aux frais d'acheminement dans les conditions de l'article L 138-3 du Code de la Consommation.

En cas de livraisons par une transporteur, la société <b>Animalerie en ligne</b> ne peut être tenue pour responsable de retard de livraison dû exclusivement à une indisponibilité du client après plusieurs propositions de rendez-vous.
</p>
<h2>Article 9 - Garantie</h2>
<p>
Tous nos produits bénéficient de la garantie légale de conformité et de la garantie des vices cachés, prévues par les articles 1641 et suivants du Code civil. En cas de non-conformité d'un produit vendu, il pourra être retourné, échangé ou remboursé. 

Toutes les réclamations, demandes d'échange ou de remboursement doivent s'effectuer par  dans le délai de 30 jours de la livraison. 

Les produits doivent nous être retournés dans l'état dans lequel vous les avez reçus avec l'ensemble des éléments (accessoires, emballage, notice...). Les frais d'envoi vous seront remboursés sur la base du tarif facturé et les frais de retour vous seront remboursés sur présentation des justificatifs.

Les dispositions de cet Article ne vous empêchent pas de bénéficier du droit de rétractation prévu à l'article 6.
</p>

<h2>Article 10 - Responsabilité</h2>

<p>Les produits proposés sont conformes à la législation française en vigueur. La responsabilité de la société
 <b>Animalerie en ligne</b> ne saurait être engagée en cas de non-respect de la législation du pays où le produit est livré. Il vous appartient de vérifier auprès des autorités locales les possibilités d'importation ou d'utilisation des produits ou services que vous envisagez de commander.

Par ailleurs, la société <b>Animalerie en ligne</b> ne saurait être tenue pour responsable des dommages résultant d'une mauvaise utilisation du produit acheté.

Enfin la responsabilité de la société <b>Animalerie en ligne</b> ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques.
</p>
<h2>Article 11 - Droit applicable en cas de litiges</h2>

La langue du présent contrat est la langue française. Les présentes conditions de vente sont soumises à la loi française. En cas de litige, les tribunaux français seront les seuls compétents.

<h2>Article 12 - Propriété intellectuelle</h2>

<p>Tous les éléments du site <a href="www.LaNimes'Alerie.com">www.LaNimes'Alerie.com</a> sont et restent la propriété intellectuelle et exclusive de la société <b>Animalerie en ligne</b>. Nul n'est autorisé à reproduire, exploiter, rediffuser, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu'ils soient logiciels, visuels ou sonores. Tout lien simple ou par hypertexte est strictement interdit sans un accord écrit exprès de la société <b>Animalerie en ligne</b>. 

Article 13 - Données personnelles

La société <b>Animalerie en ligne</b> se réserve le droit de collecter les informations nominatives et les données personnelles vous concernant. Elles sont nécessaires à la gestion de votre commande, ainsi qu'à l'amélioration des services et des informations que nous vous adressons. 

Elles peuvent aussi être transmises aux sociétés qui contribuent à ces relations, telles que celles chargées de l'exécution des services et commandes pour leur gestion, exécution, traitement et paiement. 

Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires. 

Conformément à la loi du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et d'opposition aux informations nominatives et aux données personnelles vous concernant, directement sur le site Internet.
</p>
<h2>Article 14 - Archivage Preuve</h2>

<p>La société <b>Animalerie en ligne</b> archivera les bons de commandes et les factures sur un support fiable et durable constituant une copie fidèle conformément aux dispositions de l'article 1348 du Code civil. 

Les registres informatisés de la société <b>Animalerie en ligne</b> seront considérés par toutes les parties concernées comme preuve des communications, commandes, paiements et transactions intervenus entre les parties.


</p>



	
	
	




{% endblock %}








{% block footer %}
        <footer>
            <div class="container-fluid bg-dark text-light">
                <div class="row">
                        <div class="col-md-3 pt-3 pt-md-0">
               <h6 class="">- Suivez-nous -</h6>
               <div class="d-flex justify-content">
                 <i class="fab fa-facebook-square fa-1x mx-2"></i>
                  <i class="fab fa-instagram  fa-1x mx-2"></i>
                  <i class="fab fa-twitter-square fa-1x mx-2"></i>
               </div>
                        

                        <a href="#" class="text-light">Qui sommes-nous? </a>
                    </div>
                    
                    <div class="col-lg-3">

                        <a href="/cgv" class="text-light">Mentions legales et CGV</a> <br>
                        <br>
                        <p> Nos Livraisons </p>
                    
                        
                    </div>
                    <div class="col-md-3 pt-3 pt-md-0">
                        <a href="#" class="text-light">Politique de confidentialité </a></p>
                        <h6>Moyens de paiements</h6>
                        <div class="d-flex text-center justify-content">
                        <i class="fab fa-paypal fa-1x mx-2"></i>
                        <i class="fab fa-cc-visa fa-1x mx-2"></i>
                        </div>
                    </div>
                    <div class="col-md-3">  
                        <h6><a href="/contact" class="text-light">Nous contacter</a>&#160;et&#160;<a href="/sav" class="text-light">notre SAV</a></h6><br>   
                        <em>Nous sommes ouvert de 9h à 19h30 du Lundi au Samedi</em>
                        <h6 class="text-left d-block d-sm-none mb-3">- La Nimes'Alerie -</h6>
                    </div>
                </div>
                
  

                
                    
               

        </footer>
{% endblock %}
{% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
{% endblock %}
