{% extends 'base.html.twig' %}

{% block title %}Gerer mon compte{% endblock %}

 {% block stylesheets %}
{# public/css/style.css #}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"/>
<link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{# public/js/script.js #}
{% endblock %}
    
  
{% block body %}
{% block header %}
    <header class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% block images %}
            <div class="d-inline-block">
                <img src="{{ asset('images/logo.png') }}" alt="Symfony!"/>
            </div>
            {% endblock %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" href="/home" tabindex="-1" aria-disabled="true">Accueil </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/dog" tabindex="-1"
                            aria-disabled="true">Chiens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="" tabindex="-1"
                            aria-disabled="true">Chats</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="" tabindex="-1"
                            aria-disabled="true">NAC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="" tabindex="-1"
                            aria-disabled="true">Aquariophilie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="" tabindex="-1" aria-disabled="true">Service 3.0</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="" tabindex="-1"
                            aria-disabled="true">Promotions</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <form class="d-flex my-2 my-lg-0">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <ul class="navbar text-end">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <li class="nav-item">
                            <div class="container">
                                <div class="text-center">
                                    <img src="images/panier.png" alt="panier">
                                    <a class="nav-link active text-center" href="/panier" tabindex="-1"
                                        aria-disabled="true" active aria-current="page">Panier</a>
                                </div>
                        </li>
                        <li class="nav-item">
                           <!-- <div class="text-center">
                                <img src="./img/account.png">
                                <a class="nav-link active" href="compte.html" tabindex="-1" aria-disabled="true" active
                                    aria-current="page">Mon compte</a>
                            </div> !-->
                            {% if app.user %}
                            <div class="text-center mb-3">
                             <h5>Mon compte</h5>
                             <p>Connecté comme {{ app.user.username }},<br> 
                             <a href="{{ path('app_logout') }}">Logout</a>
                             </div>
                            {% else %}
                            <div class="text-end">
                                <button type="button" class="btn btn-outline-success"> <a href="/login" tabindex="-1"
                                        aria-disabled="true" active aria-current="page"
                                        id="connection">Connexion</a></button>
                                <button type="button" class="btn btn-outline-success"><a href="/register">S'inscrire</a></button>
                            </div>
                            {% endif %}
                    </div>

            </div>
        </nav>
    </header>
{% endblock %}
{% block main %}
<h2>Gerer mon compte</h2>


<ul>

<h4>Mon Compte</h4>
<li><a href="{{ path('account_adresses')}}">Mes adresses</a></li>
<li>Mes moyens de paiement</li>

<li><a href="{{ path('account_orders')}}">Mes commandes</li>
<li>Modifier mon mot de passe</li>

</ul>



{% endblock %}
{% block footer %}
        <footer class="container-fluid">
            
                <div class="row">
                        <div class="col-md-3 pt-3 pt-md-0">
               <h6 class="">- Suivez-nous -</h6>
               <div class="d-flex justify-content">
                 <i class="fab fa-facebook-square fa-1x mx-2"></i>
                  <i class="fab fa-instagram  fa-1x mx-2"></i>
                  <i class="fab fa-twitter-square fa-1x mx-2"></i>
                </div>
                        

                        <a href="#" class="">Qui sommes-nous? </a>
                    </div>
                    
                    <div class="col-lg-3">

                        <a href="/cgv" class="">Mention legales et CGV</a> <br>
                        <br>
                        <p> Nos Livraisons </p>
                    
                        
                    </div>
                    <div class="col-md-3 pt-3 pt-md-0">
                        <a href="#" class="">Politique de confidentialité </a></p>
                        <h6>Moyens de paiements</h6>
                        <div class="d-flex text-center justify-content">
                        <i class="fab fa-paypal fa-1x mx-2"></i>
                        <i class="fab fa-cc-visa fa-1x mx-2"></i>
                        </div>
                    </div>
                    <div class="col-md-3">  
                        <h6><a href="/contact" class="">Nous contacter</a>&#160;et&#160;<a href="/sav" >notre SAV</a></h6><br>   
                        <em>Nous sommes ouvert de 9h à 19h30 du Lundi au Samedi</em>
                        <h6 class="text-left d-block d-sm-none mb-3">- La Nimes'Alerie -</h6>
                    </div>
               
                
  

                
                    
               

        </footer>
{% endblock %}
{% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
{% endblock %}
