{% extends 'base.html.twig' %}

{% block title %}<title>Nos categories </title>{% endblock %}
{# public/images/logo.png #}
 
{% block body %}
    <h1>Toutes les categories</h1>
    <a class="text-primary" href="{{ path('category_new') }}">Créer une nouvelle categorie</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('category_show', {'id': category.id}) }}">Détails</a>
                    <a class="btn btn-warning" href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>

                     {{ include('category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de categories trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
     <a href="{{ path('back_office') }}">Retourner au backoffice</a>

{% endblock %}