{% extends 'base.html.twig' %}

{% block title %}<title>Nos Produits</title>{% endblock %}

{% block body %}

 <div class="row">
    <div class="col-md-3">
    <h2>Filtrer</h2>
    {{ form(form) }}
    </div>
    <div class="col-md-9">

    <h1>Liste de produits</h1>
    <a href="{{ path('product_new') }}">Créer un produit</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Image</th>
                <th>En stock</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.image }}</td>
                <td>{{ product.enstock ? 'Yes' : 'No' }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.description }}</td>
                <td>
                    <a  class="btn btn-primary" href="{{ path('product_show', {'id': product.id}) }}">Détails</a>
                    <a class="btn btn-warning" href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    </div>
    </div>
{% endblock %}
