{% extends 'base.html.twig' %}

{% block title %}<title>Produits</title>{% endblock %}

{% block body %}

 <div class="row">
    <div class="col-md-3">
    <h2>Filtrer</h2>
    {{ form(form) }}
    </div>
    <div class="col-md-9">

    <h1>Liste de produits</h1>
    
    
        <div class="row mt-5">
        {% for product in products %}
          
            <div class="text-center" style="width: 18rem;">
              <img src="{{ asset('upload/' ~  product.image) }}" alt="{{ product.name }}" width="100px" />
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.price }}€</p>
              <a  class="btn btn-primary" href="{{ path('product_detail', {'id': product.id}) }}">Détails</a>
             </div>
            </div>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </div>
        

    
    </div>
    </div>
{% endblock %}