{{ form_start(form) }}
<div class="row">
 <div class="col-md-6">
   {{ form_row(form.firstname) }}
 </div>
 <div class="col-md-6">
   {{ form_row(form.lastname) }}
 </div>
 <div class="col-md-6">
   {{ form_row(form.company) }}
 </div>
 <div class="col-md-6">
   {{ form_row(form.numero) }}
 </div>
 <div class="col-md-6">
   {{ form_row(form.name) }}
 </div>
 <div class="col-md-6">
   {{ form_row(form.codepostal) }}
 </div>
 <div class="col-md-6">
   {{ form_row(form.ville) }}
 </div>
 <div class="col-md-6">
   {{ form_row(form.pays) }}
 </div>
   
</div>
{{ form_end(form) }}
