{% extends 'base.html.twig' %}

{% block title %}<title>Détails de  l'adresse</title>{% endblock %}

{% block body %}
    <h1>Détail de l'adresse</h1>

    <div class="col-md-3">
    <div class="card">
          <div class="card-body">
         <h5 class="card-title">{{ adress.firstname }} {{ adress.lastname }}</h5>
        <p class="card-text">{{ adress.numero}} {{ adress.name }}</p>
         <p class="card-text">{{ adress.codepostal}} {{ adress.ville }}<br>{{ adress.pays}}</p>
    
    <a href="{{ path('adress_edit' , {'id': adress.id}) }}" class="text-primary">Modifier</a> |
    <a href="{{ path('adress_delete', {'id': adress.id}) }}" class="text-danger">Supprimer</a>
    </div>
    <a href="{{ path('account_adresses') }}">Retourner au adresses</a>

    

    
{% endblock %}
